* {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    vertical-align: middle;
}

.container {
    width: 100%;
    /* max-width: 1300px; */
    margin: auto;
    background-color: #ccc;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

div[class*='col-'] {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%;
}

.col-8 {
    width: 66.666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333%;
}

.col-11 {
    width: 91.666666%;
}

.col-12 {
    width: 100%;
}

.main .container .info {
    width: 100%;
    height: 50px;
    font-size: 24px;
    color: #ccc;
    display: flex;
    background-color: #333;
    position: absolute;
}

.item img {
    width: 100%;
}

.main .pic img {
    width: 100%;
    /* height: 950px; */
}

.main .container {
    max-width: 100%;
}

.album .container {
    max-width: 100%;
}

.album div[class*='col-'] {
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 0;
}

.album .item img {
    position: relative;
    height: 358px;
}

.album .item .txt {
    line-height: 34px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    /* color: #ffffff; */
    position: absolute;
}

.li .container {
    max-width: 100%;
    height: 610px;
    background-color: #333;
    margin-bottom: 0;
}